/* look at state options: link, hover, active, focus, visited
https://stackoverflow.com/questions/42134731/css-change-button-style-after-click
*/

.card-wrapper {
    width: 280px;
}

.card-header {
    /* background-color: #8FBFE0; */
}

.card:hover {
    transition: all 150ms ease 0ms;
    outline: 3px solid #8FBFE0;
}

/* button css styling taken from react bootcamp */
button {
    background: #d7d7d7;
    color: #3b3b3b;
    padding: 0.6rem 1rem;
    font-size: 0.8rem;
    border: solid 1px #c7c7c7;
    margin: 1rem 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    outline: none;
}

/* state of the button when it's clicked; button looks embedded */
button:active {
    border-style: inset
}
