.forum {
	display: flex
}

.left-side{
	flex-grow: 1;
}

.right-side{
	flex-grow: 2;
}

/* sets the color for the dynamic main box featuring posts to white */
.rm-button{
	background: #d7d7d7;
	color: #3b3b3b;
	
	font-size: 0.5rem;
	border: solid 1px #c7c7c7;
	margin: 0.5rem 0;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
	border-radius: 1px;
	outline: none;
}
