.nav-logo {
    display:flex;
    height: 100px;
    width: 100px;
    padding: 10%;
    z-index: -1;
}

.sign-up {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
}

.sign-up > * {
    margin: .75rem;
}

.sign-up-btn {
    background-color: black;
    color: white;
    border: none;
}

